.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarTitle
{
  text-align:center; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.space{
  margin-bottom:10px;
  display:block;
  flex: 0 0 200px;
}

/* 

.Login form {
  margin: 0 auto;
  max-width: 320px;
} */

.button {
  font-size: 15px;
  font-weight: bold;
}

.nav-link{
  color:white
}



.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.login {
  width: 360px;
  margin: 55px auto;
}
.login form {
  margin-bottom: 20px;
  background: #f7f7f7;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 35px;
}
.login h2 {
  margin: 0 0 20px;
}
.form-control, .button {
  min-height: 38px;
  border-radius: 2px;
}
/* .button {        
  font-size: 15px;
  font-weight: bold;
} */
.feedback {
  width: 480px;
  margin: 80px auto;
}
.feedback form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.carousel,
.carousel-inner {
     height: 60vh;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 100vh;
  max-width: none;
} 

.cardStyle
{ width: '10rem';
  height:'7rem';  }

@media all and (max-width: 480px) {
  .feedback {
    width: 330px;
    margin: 55px auto;
  }
  .login {
    width: 330px;
    margin: 55px auto;
  }
  .footerStyle
  {
    font-size: 9px;
  }

.cardStyle 
{ width: '8rem';
  height:'5rem';  }
  
}
